<div class="row">
  <div class="input-field col s12">
    <input id="password" type="password" class="validate">
    <label for="password">Title</label>
  </div>
</div>



<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Description</label>
      </div>
    </div>
  </form>
</div>


<div class="input-field col s12">
  <select>
    <option value="" disabled selected></option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>

  </select>
  <label>Semester</label>
</div>