<div class="row">


  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-1</span>
      </div>
      <div class="back">
        <!-- <div class="back-logo"></div> -->
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>


   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-2</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>



   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-3</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>




   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-4</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>


</div>



<div class="row">


  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-5</span>
      </div>
      <div class="back">
        <!-- <div class="back-logo"></div> -->
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>


   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-6</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>



   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-7</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>




   <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <span class="name">Semester-8</span>
      </div>
      <div class="back">
        <div class="back-logo"></div>
        <div class="back-title">Choose Your Branch
          <li><a href="#">CSE</a></li>
          <li><a href="#">IT</a></li>
          <li><a href="#">ECE</a></li>
          <li><a href="#">EEE</a></li>
          <li><a href="#">ICE</a></li>
        </div>
      </div>
    </div>
  </div>


</div>