<h1><%=@greeting%></h1>
<p>
	<%=@username%>
	This is a mail to inform you that a new <%=@subject%> , added to our website.Visit our website to review the
</p>
<p>
	To login to the site, just follow this link:
</p>
<p>Thanks for joining and have a great day!</p>